<!--Sidebar content-->
<div class="ui form">
        <div class="six wide field">
            <label>Search</label>
            <input ng-model="query" placeholder="Search auction items" type="text">

        </div>

</div>



<ul class="phones">
    <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail phone-listing">
        <a href="#/products/{{product.id}}" class="thumb">
            <img ng-src="{{product.imageUrl}}">
        </a>
        <a href="#/products/{{product.id}}">{{phone.name}}</a>
        <p>{{phone.snippet}}</p>
    </li>
</ul>
