<div class="ui fluid form segment">
    <h3 class="ui header">To get started type in your name and e-mail</h3>
    <div class="field">
        <label>Name</label>
        <input placeholder="Name" type="text">
    </div>
    <div class="field">
        <label>Email</label>
        <input placeholder="Email" type="text">
    </div>
    <div class="ui buttons">
        <div class="ui button">Cancel</div>
        <div class="or"></div>
        <div class="ui positive button">Start</div>
    </div>
</div>
